 <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Simple Airbnb</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ml-auto flex">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" value="">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="/flats/new">Add Flat</a>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Flats</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <p>All our <%= @flats.count %> flats.</p>
    </div>
  </div>

  <div class="row">
      <div class="col-4">
      <% @flats.each do |flat| %>
        <%= link_to flat_path(flat.id) do  %>
          <ul>
              <div class="flat-card">
                <%= image_tag 'patrick-perkins-3wylDrjxH-E-unsplash.jpg', class: "flat-card-image" %>
                  <div class="flat-card-content">
                    <div class="flat-card-title">
                      <h4><%= flat.description.first(25) %></h4>
                    </div>
                      <p><%= flat.address %></p>
                  <div class="flex">
                    <div class="flex">
                      <i class="fas fa-user-friends"></i><span><%= flat.number_of_guests %></span>
                    </div>
                      <div class="flex ml-3">
                        <i class="fas fa-euro-sign"></i> <%= flat.price_per_nights %>
                      </div>
                  </div>
                </div>
                <div class="flat-card-actions">
                </div>
              </div>
            </div>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>








